</head>
<body>
{% if loginpage is not defined %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed navbar-collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{baseurl}}posts/">Smsblog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% if  authenticated is defined %}
      <ul class="nav navbar-nav">
        <li><a href="{{baseurl}}main#/text" id="reactlink" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Text</a></li>
        <li><a href="{{baseurl}}main#/oneDay" id="reactlink" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">OneDay</a></li>
        <li><a href="{{baseurl}}uploadForm/" id="uploadFormlink" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Upload</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{baseurl}}media/">Media</a></li>
            <li><a href="{{baseurl}}sleepstats/">Sleep</a></li>
            <li><a href="{{baseurl}}logs">Log Files</a></li>
          </ul>
        </li>
        {% if yearmonth is  defined %}
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Months<span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% for entry in yearmonth %}
            <li><a href="{{baseurl}}main#/text?month={{entry}}" id="reactlink"
              data-toggle="collapse" data-target=".navbar-collapse"
            >{{entry}}</a></li>
            
          {% endfor %}

          </ul>
        </li>
        {% endif %}


      </ul>
      
      <ul class="nav navbar-nav navbar-right">
            <li><a href="{{baseurl}}?password=unauth" id="logoutlink">Logout</a></li>
      </ul>
        {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endif %}
{% if page_message is  defined %}<h3 id="page_message">{{page_message}}</h3>{% endif %}
<h3 id="js_page_message" class="alert alert-success hide"></h3>

<div id="main" class="container">
