</head>
<body>
{% if loginpage is not defined %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{rooturl}}index.html">Miniblog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
{% if  authenticated is defined %}
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item"><a href="{{baseurl}}main#/text" id="reactlinkText"  class="nav-link">Text</a></li>
    <li class="nav-item"><a href="{{baseurl}}main#/oneDay" id="reactlinkOneDay"  class="nav-link" >OneDay</a></li>
    <li class="nav-item"><a href="{{baseurl}}uploadForm/" id="uploadFormlink" class="nav-link">Upload</a></li>
    <li role="separator" class="divider"></li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Misc
    </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{baseurl}}media/">Media</a>
        <a class="dropdown-item" href="{{baseurl}}sleepstats/">Sleep</a>
        <a class="dropdown-item" href="{{baseurl}}logs">Log Files</a>
      </div>
    </li>
    {% if yearmonth is defined %}
    <li class="nav-item  dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" data-toggle="dropdown">
      Months</a>
      <div class="dropdown-menu">
      {% for entry in yearmonth %}
        <a class="dropdown-item" href="{{baseurl}}main#/text?month={{entry}}"
         data-target=".navbar-collapse">{{entry}}</a>
      {% endfor %}
      </div>
    </li>
    {% endif %}
    <li class="nav-item"><a class="nav-link" href="{{baseurl}}?password=unauth" id="logoutlink">Logout</a></li>
  </ul>
    {% endif %} 
    </div>
</nav>

{% endif %}
{% if page_message is  defined %}<h3 id="page_message">{{page_message}}</h3>{% endif %}
<h3 id="js_page_message" class="alert alert-success" hidden></h3>

<div id="main" class="container">
