{% include '_header.twig' %}
<link href="//cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet" type="text/css">
<link href="//unpkg.com/@fullcalendar/daygrid/main.min.css" rel="stylesheet" type="text/css">

<link href="{{rooturl}}_rsc/css/blog.css" rel="stylesheet" type="text/css">

<script
  src="//code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//unpkg.com/@fullcalendar/daygrid/main.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'addEventButton'
        },
        plugins: ['dayGrid'],
        defaultDate: '{{showDate|date("Y-m")}}-01',
        events: async (info, successCallback, failureCallback) => {
            try {
                const month = info.start.getDate() === 1 ? info.start.getMonth() : info.start.getMonth() + 1;
                console.log(month)
                console.log(info.start.getYear())
                let yearValue = info.start.getYear() + 1900;
                const year = month !== 12 || info.start.getDate() === 1 ? yearValue : yearValue + 1;
                console.log(year)

                const url = "{{rooturl}}index.php/api/posts/?month=" + year + "-"+ (month % 12 + 1);
                console.log(url);
                const res = await axios.get(url);
                   
                console.log('server response: ', res);
                const newEvents = res.data.entries.map(eventEl => {
                    return {
                        id: eventEl.id,
                        title: eventEl.content,
                        start: eventEl.date
                    }
                });
                console.log(newEvents);
                successCallback(newEvents)
            
            } catch (err) {
                failureCallback(err);
            }
            calendar.render();
        },
        eventClick: function(info) {
            const event = info.event;
            let m = moment(info.event.start); 

             $('#modalTitle').html(m.format('ll'));
            $('#modalBody').html(event.title + `<br>
            <a href="{{rooturl}}index.php/main#/oneDay?date=${m.format('YYYY-MM-DD')}">Edit</a>`);
            $('#eventUrl').attr('href', event.url);
            $('#calendarModal').modal();
        }
    });
});
</script>
{% include '_banner.twig' %}

<h1 class="command_title">Entries for {{user_fullname}}</h1>

<div class="row">
    <div class="span4">
    <form id="filter" class="form-inline">
        Show: <input type="checkbox" id="filter_untagged" checked="checked"><label for="filter_untagged">Untagged</label>
        <input type="checkbox" id="filter_tagged" checked="checked"><label for="filter_tagged"> Tagged</label>
        {% if admin %}
        <input type="checkbox" id="filter_goals" checked="checked"><label for="filter_goals">Goals</label>
        {% endif %}
    </form>
</div>

<div class="span3">
<form id="gotoForm" method="get"  class="form-inline" action="">
    <input type="text" name="gotoYearMonth" value="{{showDate|date("Y-m")}}"  class="input-small"/>
    <input type="submit" value="Goto Month"  />
</form> 
</div>

</div>
<div id='calendar'></div>

<span id="highlightDate" class="hide">
    {% if highlightDate is defined %}{{highlightDate}}{% endif %}
</span>
<span id="showDate" class="hide">
    {{showDate|date("Y-m")}}
</span>
{% include '_footer.twig' %}
{% include '_entry_dialog.twig' %}

<script src="{{rooturl}}_rsc/js/CalendarHelper.js"></script>

<div id="calendarModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 id="modalTitle" class="modal-title"></h4>
        </div>
        <div id="modalBody" class="modal-body"> </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>