<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css">

<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<link rel="stylesheet" href="{{rooturl}}_rsc/css/themes/jquery.mobile.flatui.min.css" />
<style>
    [data-role=page]{ height: 100% !important; position:relative !important;}
    /*[data-role=footer]{ bottom:0; position:absolute !important; top: auto !important; width:100%;} */

    #chart { width:300px; height:200px; }

    ​.ui-listview {
    white-space : normal;
}​
</style>
</head>
<body>

<div data-role="page" id="pageA" data-theme="f">
  <div data-role="header">
        <h1 id="head1">SmsBlog</h1>
        <a data-role="button" class="ui-btn-right logout_btn">Logout</a>
  </div>
     <div data-role="main">
     <div data-role="fieldcontain">
         <button id="decreasePointTwo" data-inline="true">.2</button>
         <button id="decreaseOne" data-inline="true">1-</button>

         <button id="increaseOne" data-inline="true" >+1</button>
         <button id="increasePointTwo" data-inline="true" >.2</button>
      </div>
    <div data-role="fieldcontain">
          <label for="weightInput" data-inline="true">Weight</label>
          <input type="text" id="weightInput" name="weightInput"  placeholder="Enter weight"
          value="" data-inline="true"/>
    </div>
    <div data-role="fieldcontain">
      <label for="comment">Comment</label>
      <input type="text" id="comment" name="comment"  placeholder="Comment" value="" />
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <button id="savebtn">Weight</button>
      </div>
      <div class="ui-block-b">
        <button id="commentbtn" data-icon="star">Comment Only</button>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <button id="pupsText">@pups 40</button>
      </div>
    </div>

    <div id="chart"></div>
  </div>
  <div data-role="footer">
     <nav class="ui-bar">
      <a href="{{baseurl}}posts/" data-role="button" data-icon="grid" rel="external">Calendar</a>
      <a class="ping" data-role="button" data-rel="myPopupDiv">Ping</a>
      <a class="dayDisplay" data-role="button">Entries</a>
      <a href="{{baseurl}}graph/" data-role="button" class="ui-btn-right" rel="external">Graph</a>
    </nav>
  </div>
</div>

 <!-- Page 1 -->

    <div id="pageFitness" data-role="page" data-theme="f">
      <div data-role="header">
        <h1 id="head1">SmsBlog</h1>
        <a data-role="button" class="ui-btn-right logout_btn">Logout</a>
      </div>
      <div data-role="content">
        <div data-role="fieldcontain">
          <label for="fitDistance">Miles</label>
          <input type="text" id="fitDistance" name="fitDistance"  placeholder="Distance" value="" size="4"/>
        </div>
        <div data-role="fieldcontain">
          <label for="fitTime">Time</label>
          <input type="text" id="fitTime" name="fitTime"  placeholder="Time" value=""  size="8"/>
        </div>
        <div data-role="fieldcontain">
          <label for="fitComment">Comment</label>
          <input type="text" id="fitComment" name="fitComment"  placeholder="Comment" value="" />
        </div>
        <button id="saveFitnessBtn">Save</button>
      </div>
      <div data-role="footer">
     <nav class="ui-bar">
        <a href="{{baseurl}}posts/" data-role="button" data-icon="grid" rel="external">Calendar</a>

                  <a class="weightEntry" data-role="button">Main</a>
        <a href="{{baseurl}}graph/" data-role="button" class="ui-btn-right" rel="external">Graph</a>
      </nav>
  </div>
</div>


 <!-- Single Day page -->
  <div data-role="page" id="pageEntries" data-theme="f">
    <header data-role="header">
        <h1 id="head1">SmsBlog</h1>
        <a data-role="button" class="ui-btn-right logout_btn">Logout</a>
      </header>
    <div data-role="content">
      <div class="ui-block-a" style="width:32%">
        <button id="prevDayBtn">Previous</button>
      </div>
      <div class="ui-block-b" style="width:32%">
        <button id="todayBtn">Today</button>
      </div>

      <div class="ui-block-c" style="width:32%">
        <button id="nextDayBtn">Next</button>
      </div>
      <div id="pageEntriesDay"  style="width:100%; text-align:center"></div>
      <div data-role="listview" data-inset="true" id="entriesList"></div>


    <div data-role="fieldcontain">
      <label for="comment">Entry</label>
      <input type="text" id="comment2" name="comment"  placeholder="Comment" value="" />
      <button id="commentbtn2" data-icon="star">Save</button>

    </div>

    </div>
    <footer data-role="footer">
        <nav class="ui-bar">
          <a href="{{baseurl}}posts/" data-role="button" data-icon="grid" rel="external">Calendar</a>
          <a class="ping" data-role="button" data-rel="myPopupDiv">Ping</a>
          <a class="weightEntry" data-role="button">Main</a>
          <a href="{{baseurl}}graph/" data-role="button" class="ui-btn-right" rel="external">Graph</a>
        </nav>
	</footer>
</div>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.dateAxisRenderer.min.js"></script>

<script src="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
<script src="{{rooturl}}_rsc/js_build/mobile-bundle.js"></script>
